@CHARSET "UTF-8";

#double1{position: relative; width: 947px;margin: 0 auto 34px;border: 2px solid #665619;background: url(../resources/images/sidebar.png) repeat;}
#doublehead1{width: 946px;height: 44px;margin: 2px auto;background: url(../resources/lineItem.png);}
#double2{position: relative; width: 947px;margin: 0 auto 34px;border: 2px solid #665619;background: url(../resources/images/sidebar.png) repeat;}
#doublehead2{width: 946px;height: 44px;margin: 2px auto;background: url(../resources/advancedSearch/ProductDetails.png);}
#doublecontent1{width:900px;margin:10px auto;}
#doublecontent2{width:900px;margin:10px auto;}